

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <mat-card class="my-5">
          <mat-card-content class="cardContent">
            <div class="row justify-content-center px-3 mb-3">
              <img id="logo" src="../../../assets/logo.png">
            </div>
            <form class="register" >
              <mat-form-field class="form-register">
                <mat-label>Nombre completo</mat-label>
                <input matInput  [formControl]="nameFormControl" placeholder="Nombre completo" name="nombre" required maxlength="100">
              </mat-form-field>
              <mat-form-field class="form-register">
                <mat-label>Email</mat-label>
                <input matInput  [formControl]="emailFormControl" placeholder="Email" name="email" required [errorStateMatcher] ="matcher" >

              </mat-form-field>
              <mat-form-field class="form-register">
                <mat-label>Contraseña</mat-label>
                <input matInput  [formControl]="passwordFormControl" placeholder="Contraseña (mínimo 7 carácteres)" name="contraseña" type="password" required minlength="7">
              </mat-form-field>
              <mat-form-field>
                <mat-label >Seleccionar organización</mat-label>
                <mat-select class="select" [(value)]="selectedOrganization">
                  <mat-option *ngFor="let o of organizations" [value]="o">
                    {{ o.org }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
            <mat-card-actions class="botonSection">
              <button [disabled]=" !emailFormControl.valid || !passwordFormControl.valid || !nameFormControl.valid" mat-raised-button class="boton"  color="primary" type="submit" (click) ="onRegister()">Registrarse</button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

  </div>
</body>
