ul li{
  list-style:none ;
}

.body{
  background-color:  #B30D00;
}
.mat-toolbar{
 overflow:hidden;
}


.user-menu{

  color:  #B30D00;
}

.header{
  display: flex;
  flex-direction: row;
}
.user-icon{
  font-size: 36px;
}


::ng-deep .user-card{

  border: 55px !important;
  border-radius: 30px !important;
  border: #000 !important;
 }

