
<div id="div_file" style="display: flex;flex-direction: row;justify-content: space-between;" >
  <label for="file-upload" class="custom-file-upload" >
    Cargar Datos
 </label>
   <input type="file" id="file-upload"  onclick="this.value=null" accept=".xlsx" (change)="uploadedFile($event)">
   <button class="btnGuardar"mat-button color="warn"  (click)="saveDocument()">Guardar Datos</button>

  </div>


<!--Tabla Activos Corrientes-->
<h2 *ngIf="noDataMessage">No se ha cargado el estado financiero</h2>
<mat-progress-bar mode="indeterminate" *ngIf="noData && isLoading"></mat-progress-bar>
<mat-card  style="margin: 20px" class="mat-elevation-z8" style="width: 100%;display: flex;flex-direction: column;" *ngIf="!noData">
  <mat-card-content>
<h1 class ="table-title" style="text-align: center;">  Activos Corrientes</h1>
<table mat-table [dataSource]="this.dataSourceActivosC" class="mat-elevation-z8" style="width: 100%"  >
<ng-container  matColumnDef ="Año">
  <th class="w-a"mat-header-cell *matHeaderCellDef>Año</th>
  <td  mat-cell *matCellDef="let element" >
    <mat-form-field >
      <input matInput  [value]="element.anio" [(ngModel)]="element.anio">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="Efectivo y equivalentes al efectivo">
  <th mat-header-cell *matHeaderCellDef>Efectivo y equivalentes al efectivo</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
    <input matInput  [value]="element.efectivo" [(ngModel)]="element.efectivo">
  </mat-form-field></td>

</ng-container>
<ng-container matColumnDef ="Activos financieros">
  <th mat-header-cell *matHeaderCellDef>Activos financieros</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
    <input matInput  [value]="element.activosF" [(ngModel)]="element.activosF">
  </mat-form-field></td>

</ng-container>
<ng-container matColumnDef ="Otros activos no financieros">
  <th mat-header-cell *matHeaderCellDef>Otros activos no financieros</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput [value]="element.otrosAc" [(ngModel)]="element.otrosAc">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="Deudores educacionales y otras cuentas por cobrar, netos">
  <th mat-header-cell *matHeaderCellDef>Deudores educacionales y otras cuentas por cobrar,netos</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.deudores" [(ngModel)]="element.deudores">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="Cuentas por cobrar a partes relacionadas">
  <th mat-header-cell *matHeaderCellDef>Cuentas por cobrar a partes relacionadas</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.cuentas" [(ngModel)]="element.cuentas">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="Activo por impuestos corrientes">
  <th mat-header-cell *matHeaderCellDef>Activo por impuestos corrientes</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput placeholder="Name" [value]="element.activoImpC" [(ngModel)]="element.activoImpC">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="Total activos corrientes">
  <th mat-header-cell *matHeaderCellDef>Total activos corrientes</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput [value]="element.total" [(ngModel)]="element.total">
    </mat-form-field>
  </td>

</ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Tabla Activos no corrientes-->
  <h1 class ="table-title" style="text-align: center;">  Activos No Corrientes</h1>
<table mat-table [dataSource]="this.dataSourceActivosNC" class="mat-elevation-z8" style="width: 100%;" >
<ng-container matColumnDef ="Año">
  <th mat-header-cell *matHeaderCellDef>Año</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.anio" [(ngModel)]="element.anio">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="otros activos">
  <th mat-header-cell *matHeaderCellDef>Otros activos financieros no corrientes</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.otrosA" [(ngModel)]="element.otrosA">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="activos intangibles">
  <th mat-header-cell *matHeaderCellDef>Activos intantangibles, neto</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
    <input matInput  [value]="element.activosI" [(ngModel)]="element.activosI">
  </mat-form-field>
</td>

</ng-container>
<ng-container matColumnDef ="propiedades">
  <th mat-header-cell *matHeaderCellDef>Propiedades planta y equipos, neto</th>
  <td  mat-cell *matCellDef="let element"><mat-form-field floatLabel="never">
    <input matInput  [value]="element.prop" [(ngModel)]="element.prop">
  </mat-form-field>
</td>

</ng-container>
<ng-container matColumnDef ="activos por derecho">
  <th mat-header-cell *matHeaderCellDef>Activos por derecho de uso</th>
  <td  mat-cell *matCellDef="let element"><mat-form-field floatLabel="never">
    <input matInput  [value]="element.activosD" [(ngModel)]="element.activosD">
  </mat-form-field>
</td>

</ng-container>
<ng-container matColumnDef ="total no corrientes">
  <th mat-header-cell *matHeaderCellDef>Total activos no corrientes</th>
  <td  mat-cell *matCellDef="let element"><mat-form-field floatLabel="never">
    <input matInput  [value]="element.totalNC" [(ngModel)]="element.totalNC">
  </mat-form-field></td>

</ng-container>
<ng-container matColumnDef ="total">
  <th mat-header-cell *matHeaderCellDef>Total activos</th>
  <td  mat-cell *matCellDef="let element"><mat-form-field floatLabel="never">
    <input matInput  [value]="element.totalA" [(ngModel)]="element.totalA">
  </mat-form-field></td>

</ng-container>
<tr mat-header-row *matHeaderRowDef="tablaActivosNC"></tr>
        <tr mat-row *matRowDef="let row; columns: tablaActivosNC;"></tr>
</table>

<!--Tabla activos pasivos corrientes-->
  <h1 class ="table-title" style="text-align: center;">  Activos Pasivos Corrientes</h1>
<table mat-table [dataSource]="this.dataSourcePasivosC" class="mat-elevation-z8" style="width: 100%;" >
<ng-container matColumnDef ="Año">
  <th mat-header-cell *matHeaderCellDef>Año</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field   floatLabel="never">
    <input matInput  [value]="element.anio" [(ngModel)]="element.anio">
  </mat-form-field></td>

</ng-container>
<ng-container matColumnDef ="pasivos arrendamientos">
  <th mat-header-cell *matHeaderCellDef>Pasivos financieros por arrendamientos</th>
  <td  mat-cell *matCellDef="let element"><mat-form-field floatLabel="never">
    <input matInput  [value]="element.pasivosAr" [(ngModel)]="element.pasivosAr">
  </mat-form-field></td>

</ng-container>
<ng-container matColumnDef ="otros pasivos">
  <th mat-header-cell *matHeaderCellDef>Otros pasivos no financieros</th>
  <td  mat-cell *matCellDef="let element"><mat-form-field floatLabel="never">
    <input matInput  [value]="element.otrosP" [(ngModel)]="element.otrosP">
  </mat-form-field></td>

</ng-container>
<ng-container matColumnDef ="cuentas comerciales">
  <th mat-header-cell *matHeaderCellDef>Cuentas por pagar comerciales y otras cuentas por pagar</th>
  <td  mat-cell *matCellDef="let element"><mat-form-field floatLabel="never">
    <input matInput  [value]="element.cuentasC" [(ngModel)]="element.cuentasC">
  </mat-form-field></td>

</ng-container>
<ng-container matColumnDef ="cuentas relacionadas">
  <th mat-header-cell *matHeaderCellDef>Cuentas por pagar a partes relacionadas</th>
  <td  mat-cell *matCellDef="let element"><mat-form-field floatLabel="never">
    <input matInput  [value]="element.cuentasR" [(ngModel)]="element.cuentasR">
  </mat-form-field></td>

</ng-container>
<ng-container matColumnDef ="otras provisiones">
  <th mat-header-cell *matHeaderCellDef>Otras provisiones</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never" style ="width: 100px;">
    <input matInput  [value]="element.otras" [(ngModel)]="element.otras">
  </mat-form-field></td>

</ng-container>
<ng-container matColumnDef ="pasivos impuestos corrientes">
  <th  mat-header-cell *matHeaderCellDef>Pasivos por impuestos corrientes</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never" style ="width: 100px;">
    <input matInput  [value]="element.pasivosI" [(ngModel)]="element.pasivosI">
  </mat-form-field></td>

</ng-container>
<ng-container matColumnDef ="provisiones">
  <th mat-header-cell *matHeaderCellDef>Pasivos por beneficios a los empleados</th>
  <td  mat-cell *matCellDef="let element"><mat-form-field floatLabel="never">
    <input matInput  [value]="element.provisiones" [(ngModel)]="element.provisiones">
  </mat-form-field></td>

</ng-container>
<ng-container matColumnDef ="total pasivos corrientes">
  <th mat-header-cell *matHeaderCellDef>Total pasivos corrientes</th>
  <td  mat-cell *matCellDef="let element"><mat-form-field floatLabel="never">
    <input matInput  [value]="element.totalPC" [(ngModel)]="element.totalPC">
  </mat-form-field></td>

</ng-container>
<tr mat-header-row *matHeaderRowDef="tablaPasivosC"></tr>
        <tr mat-row *matRowDef="let row; columns: tablaPasivosC;"></tr>
</table>

<!--Tabla pasivos no corrientes-->
  <h1 class ="table-title" style="text-align: center;">  Activos Pasivos No Corrientes</h1>
<table mat-table [dataSource]="this.dataSourcePasivosNC" class="mat-elevation-z8" style="width: 100%;" >
<ng-container matColumnDef ="Año">
  <th mat-header-cell *matHeaderCellDef>Año</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.anio" [(ngModel)]="element.anio">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="pasivos arrendamientos">
  <th mat-header-cell *matHeaderCellDef>Pasivos financieros por arrendamientos</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.pasivosAr" [(ngModel)]="element.pasivosAr">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="otras provisiones">
  <th mat-header-cell *matHeaderCellDef>Otras provisiones</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.otrosP" [(ngModel)]="element.otrosP">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="provisiones beneficios">
  <th mat-header-cell *matHeaderCellDef>Provisiones por beneficios a los empleados</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.provisionesB" [(ngModel)]="element.provisionesB">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="total pasivos no corrientes">
  <th mat-header-cell *matHeaderCellDef>Total pasivos no corrientes</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.total" [(ngModel)]="element.total">
    </mat-form-field>
  </td>

</ng-container>

<tr mat-header-row *matHeaderRowDef="tablaPasivosNC"></tr>
        <tr mat-row *matRowDef="let row; columns: tablaPasivosNC;"></tr>
</table>


<!--Tabla patrimonio-->
  <h1 class ="table-title" style="text-align: center;">  Patrimonio</h1>
<table mat-table [dataSource]="this.dataSourcePatrimonio" class="mat-elevation-z8" style="width: 100%;" >
<ng-container matColumnDef ="Año">
  <th mat-header-cell *matHeaderCellDef>Año</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.anio" [(ngModel)]="element.anio">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="aportes">
  <th mat-header-cell *matHeaderCellDef>Aportes y donaciones</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.aportes" [(ngModel)]="element.aportes">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="resultados retenidos">
  <th mat-header-cell *matHeaderCellDef>Resultados retenidos</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.resultadosR" [(ngModel)]="element.resultadosR">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="patrimonio contador">
  <th mat-header-cell *matHeaderCellDef>Patrimonio atribuible al contador</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.patrimonioContador" [(ngModel)]="element.patrimonioContador">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="participaciones">
  <th mat-header-cell *matHeaderCellDef>Participaciones no controladoras</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.participaciones" [(ngModel)]="element.participaciones">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="total patrimonio neto">
  <th mat-header-cell *matHeaderCellDef>Total patrimonio neto</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.totalPNeto" [(ngModel)]="element.totalPNeto">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="total pasivos y patrimonio">
  <th mat-header-cell *matHeaderCellDef>Total pasivos y patrimonio</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.totalPP" [(ngModel)]="element.totalPP">
    </mat-form-field>
  </td>

</ng-container>

<tr mat-header-row *matHeaderRowDef="tablaPatrimonio"></tr>
        <tr mat-row *matRowDef="let row; columns: tablaPatrimonio;"></tr>
</table>


<!--Tabla estado resultado-->
  <h1 class ="table-title" style="text-align: center;">  Estado Resultado</h1>
<table mat-table [dataSource]="this.dataSourceEstadoR" class="mat-elevation-z8" style="width: 100%;"  >
<ng-container matColumnDef ="Año">
  <th mat-header-cell *matHeaderCellDef>Año</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never" style ="width: 100px;">
      <input matInput  [value]="element.anio" [(ngModel)]="element.anio">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="ingresos">
  <th mat-header-cell *matHeaderCellDef>Ingresos de actividades ordinarios</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never" style ="width: 100px;">
      <input matInput  [value]="element.ingresos" [(ngModel)]="element.ingresos">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="costo ventas">
  <th mat-header-cell *matHeaderCellDef>Costo de ventas</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.costoVentas" [(ngModel)]="element.costoVentas">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="margen">
  <th mat-header-cell *matHeaderCellDef>Margen bruto</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.margen" [(ngModel)]="element.margen">
    </mat-form-field>
  </td>

</ng-container>
<ng-container matColumnDef ="otros ingresos">
  <th mat-header-cell *matHeaderCellDef>Otros ingresos por función</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.otrosI" [(ngModel)]="element.otrosI">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="gastos admin">
  <th mat-header-cell *matHeaderCellDef>Gastos de administración</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.gastosAdm" [(ngModel)]="element.gastosAdm">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="otras ganancias">
  <th mat-header-cell *matHeaderCellDef>Otras ganancias(pérdidas)</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never" style ="width: 100px;">
      <input matInput  [value]="element.otrasGanancias" [(ngModel)]="element.otrasGanancias">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="ingresos financieros">
  <th mat-header-cell *matHeaderCellDef>Ingresos financieros</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.ingresosF" [(ngModel)]="element.ingresosF">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="costos financieros">
  <th mat-header-cell *matHeaderCellDef>Costos financieros</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.costosF" [(ngModel)]="element.costosF">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="resultado reajuste">
  <th mat-header-cell *matHeaderCellDef>Resultado por unidad de reajuste</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never" style ="width: 70px;">
      <input matInput  [value]="element.resultadoR" [(ngModel)]="element.resultadoR">
    </mat-form-field>
  </td>

</ng-container>

<tr mat-header-row *matHeaderRowDef="tablaEstadoResultados"></tr>
        <tr mat-row *matRowDef="let row; columns: tablaEstadoResultados;"></tr>
</table>


<!--Tabla ganancia antes del impuesto-->
  <h1 class ="table-title" style="text-align: center;">  Ganancia antes del impuesto</h1>
<table mat-table [dataSource]="this.dataSourceGananciaA" class="mat-elevation-z8" style="width: 100%;"  >
<ng-container matColumnDef ="Año">
  <th mat-header-cell *matHeaderCellDef>Año</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.anio" [(ngModel)]="element.anio">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="gastoImp">
  <th mat-header-cell *matHeaderCellDef>Gasto por impuesto a las ganancias</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.gastoImp" [(ngModel)]="element.gastoImp">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="gananciaDespImp">
  <th mat-header-cell *matHeaderCellDef>Ganancia después de impuesto</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.gastoDespImp" [(ngModel)]="element.gastoDespImp">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="totalRes">
  <th mat-header-cell *matHeaderCellDef>Total resultados</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.totalRes" [(ngModel)]="element.totalRes">
    </mat-form-field>
  </td>

</ng-container>

<tr mat-header-row *matHeaderRowDef="tablaGananciaAntesImpuestos"></tr>
        <tr mat-row *matRowDef="let row; columns: tablaGananciaAntesImpuestos;"></tr>
</table>

<!--Tabla ganancia atribuible a-->
  <h1 class ="table-title" style="text-align: center;">  Ganancia atribuible a</h1>
<table mat-table [dataSource]="this.dataSourceGananciaAtribuible" class="mat-elevation-z8" style="width: 100%;"  >
<ng-container matColumnDef ="Año">
  <th mat-header-cell *matHeaderCellDef>Año</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.anio" [(ngModel)]="element.anio">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="gananciaControlador">
  <th mat-header-cell *matHeaderCellDef>Ganancia atribuible al controlador</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.gananciaControlador" [(ngModel)]="element.gananciaControlador">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="gananciaNoControl">
  <th mat-header-cell *matHeaderCellDef>Ganancia actuariales por planes de beneficios actuariales</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.gananciaNoControladora" [(ngModel)]="element.gananciaNoControladora">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="ganancia">
  <th mat-header-cell *matHeaderCellDef>Total resultado de ingresos y gastos integrales</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.ganancia" [(ngModel)]="element.ganancia">
    </mat-form-field>
  </td>

</ng-container>

<tr mat-header-row *matHeaderRowDef="tablaGananciaAtribuibleA"></tr>
        <tr mat-row *matRowDef="let row; columns: tablaGananciaAtribuibleA;"></tr>
</table>

<!--Tabla Total resultados integrales-->
  <h1 class ="table-title" style="text-align: center;">  Estado resultados integrales</h1>
<table mat-table [dataSource]="this.dataSourceEstadoResInt" class="mat-elevation-z8" style="width: 100%;"  >
<ng-container matColumnDef ="Año">
  <th mat-header-cell *matHeaderCellDef>Año</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.anio" [(ngModel)]="element.anio">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="ganancia">
  <th mat-header-cell *matHeaderCellDef>Ganancia</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.ganancia" [(ngModel)]="element.ganancia">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="gananciaActuariales">
  <th mat-header-cell *matHeaderCellDef>Ganancia actuariales por planes de beneficios actuariales</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.gananciaAct" [(ngModel)]="element.gananciaAct">
    </mat-form-field>
  </td>

</ng-container>

<ng-container matColumnDef ="totalResIntegrales">
  <th mat-header-cell *matHeaderCellDef>Total resultado de ingresos y gastos integrales</th>
  <td  mat-cell *matCellDef="let element">
    <mat-form-field floatLabel="never">
      <input matInput  [value]="element.total" [(ngModel)]="element.total">
    </mat-form-field>
  </td>

</ng-container>

<tr mat-header-row *matHeaderRowDef="tablaEstadoResultadosIntegrales"></tr>
        <tr mat-row *matRowDef="let row; columns: tablaEstadoResultadosIntegrales;"></tr>
</table>
</mat-card-content>
<mat-card-actions style="text-align: center;">

</mat-card-actions>
</mat-card>
