.btnGuardar{
  transition: all 0.2s;
  background-color:#36A0F5;
  color: white;
}



.table-title{
  margin-top: 5%;
}

mat-form-field{
  width: 50%;
}

.table {
  width: 100vw;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 10px;
  display: table;
  border-collapse: collapse;
  margin: 0px;
  background-color: rgb(238, 238, 238);
}
.w-a{
  width: 5%;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color:#36A0F5;
  color: white;
}
