
      <editor
        class="centered"
        [formControl]="textoFormControl"
        [init]="{
           base_url: '/tinymce',
           suffix: '.min',
           height: 600,
           menubar: true,
           plugins: [
             'advlist autolink lists link image charmap print preview ',
             'searchreplace visualblocks code fullscreen image imagetools',
             'insertdatetime media table paste code help wordcount'
           ],
           toolbar:'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | help'
         }"
      ></editor>
      <div>
        <button mat-button  class="saveButton" mat-flat-button color="primary" (click)="onGuardar(textoFormControl.value)">Guardar</button>
        
        
      </div>
    