<mat-tab-group>
    <mat-tab label="Propuesta Sindicato">


        <mat-card-header>
            <mat-card-title>Datos iniciales</mat-card-title>
        </mat-card-header>
        <form>
            <mat-form-field>
                <mat-label>Nombre cargo</mat-label>

                <input matInput placeholder="Cargo" name="Cargo" [formControl]="administrativoFormControl">
            </mat-form-field>
            <mat-form-field style="margin-left: 7%;">
                <mat-label>Años de vigencia</mat-label>
                <input type="number" matInput [formControl]="vigenciaFormControl" min="0">
            </mat-form-field>
            <button style="margin-left: 5%;" class="btn" mat-flat-button (click)="onAceptarDatos()">Aceptar</button>
        </form>
        <mat-divider></mat-divider>
        <div class="mat-elevation-z8" *ngIf="mostrarForms == true">


            <h2>IPC Proyectado</h2>
            <table mat-table #tablaIPC [dataSource]="ipcDataSource" class="mat-elevation-z2">
                <ng-container matColumnDef="Año">
                    <th mat-header-cell *matHeaderCellDef> Año </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field>
                            <input matInput [(ngModel)]="element.anio" type="number" min="0">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="IPCProyectado">
                    <th mat-header-cell *matHeaderCellDef> IPC Proyectado </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field>
                            <input matInput [(ngModel)]="element.ipc" type="number" min="0">
                        </mat-form-field>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnasIPC"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasIPC;"></tr>
            </table>

            <button mat-button (click)="onSiguienteIPC()" class="btn" >Siguiente</button>
            <h2>Tramos de sueldo</h2>
            <div *ngIf=" this.mostrarReajustes == true">

                <table mat-table #tablaIPC [dataSource]="tramosDataSource" class="mat-elevation-z2">

                    <ng-container matColumnDef="inicio">
                        <th mat-header-cell *matHeaderCellDef> Inicio tramo </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput [(ngModel)]="element.inicio" type="number" min="0">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="fin">
                        <th mat-header-cell *matHeaderCellDef> Fin tramo </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput [(ngModel)]="element.final" type="number" min="0">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="eliminar">
                        <th style="width:15%;" mat-header-cell *matHeaderCellDef> </th>
                        <td class="eliminar" mat-cell *matCellDef="let element">
                            <mat-icon class="delete" (click)="deleteTramo(element)">delete</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnasTramos"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnasTramos;"></tr>
                </table>
                <div class="btn-agregar-tramo" style="margin-left: 20%;margin-top: 1%; width: 10%;">
                    <button mat-button (click)="onAgregarTramo()">Agregar tramo</button>
                </div>
                <button mat-button (click)="onAceptarTramo()" class="btn" >Aceptar</button>
            </div>

           

            <div *ngIf=" this.mostrarReajustes == true">

                <h2>Definición de reajustes</h2>
                
                <table mat-table #tablaIPC [dataSource]="reajusteDataSource" style="width: 60%;">
                    <ng-container matColumnDef="Pos">
                        <th mat-header-cell *matHeaderCellDef> Tramo </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.pos}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="inicio">
                        <th mat-header-cell *matHeaderCellDef> Inicio tramo </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.inicio}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="fin">
                        <th mat-header-cell *matHeaderCellDef> Fin tramo </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.final}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="año">
                        <th mat-header-cell *matHeaderCellDef> Año </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.anio}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="reajuste">
                        <th mat-header-cell *matHeaderCellDef> Valor reajuste </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput [(ngModel)]="element.reajuste" type="number" min="0">
                            </mat-form-field>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="columnasReajustes"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnasReajustes;"></tr>
                </table>
                <div style="margin-top: 5%;"></div>
                <mat-divider>
                </mat-divider>

            </div>
            <!---Tabla ipc-->
            <!--
            <div *ngIf=" this.mostrarReajustes == true">
                <table mat-table  [dataSource]="reajusteDataSource" class="mat-elevation-z8">

                    <ng-container *ngFor="let columnDefinition of reajusteColumns"
                        matColumnDef={{columnDefinition.columnName}}>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnDefinition.columnName}}</th>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="reajusteDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: reajusteDisplayedColumns;"></tr>
                </table>
            </div>
            -->


            <!---
            <table mat-table [dataSource]="dataSource">
                <ng-container *ngFor="let columnDefinition of columnDefinitions"
                    matColumnDef={{columnDefinition.matColumnDef}}>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{columnDefinition.columnHeaderName}}
                    </th>
                    <td mat-cell *matCellDef="let element of this.listaValoresIPC">
                        
                        <mat-form-field>
                            <input matInput placeholder="%" type="number" min="0" [(ngModel)] ="element.valor" >
                        </mat-form-field>

                    </td>
                </ng-container>

               

                <table mat-table [dataSource]="this.dataSourceActivosC" class="mat-elevation-z8" style="width: 100%">
                    <ng-container matColumnDef="Año">
                        <th class="w-a" mat-header-cell *matHeaderCellDef>Año</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput [value]="element.anio" [(ngModel)]="element.anio">
                            </mat-form-field>
                        </td>

                    </ng-container>

                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>--->
        </div>
    </mat-tab>
    <mat-tab label="Propuesta Empresa"></mat-tab>
    <mat-tab label="Resumen y comparativa propuestas"></mat-tab>
</mat-tab-group>